{% set metaDescription = strings.siteDescription %}

{% if not metaTitle %}
  {% set metaTitle = strings.siteName %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />

    <meta name="description" content="{{ metaDescription | safe }}" />
    <meta name="twitter:description" content="{{ metaDescription | safe }}" />
    <meta property="og:description" content="{{ metaDescription | safe }}" />

    <meta property="og:site_name" content="{{ strings.siteName }}" />
    <meta property="og:title" content="{{ metaTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ pageUrl }}" />
    <meta property="og:locale" content="{{ site.locale }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="{{ metaImage }}" />
    <meta name="twitter:image" content="{{ metaImage }}" />
    <meta property="og:image:alt" content="{{ metaTitle }}" />
    <meta name="twitter:image:alt" content="{{ metaTitle }}" />

    <title>{{ metaTitle }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />
  </head>
  <body>
    {% include "google-analytics.njk" %}
    <a class="skip-link button" href="#main">{{ strings.skipToMain }}</a>
    <span id="header-background"></span>
    <nav>
      {% block nav %}{{ nav | safe }}{% endblock %}
    </nav>
    <header>
      {% block header %}{{ header | safe }}{% endblock %}
    </header>
    <main id="main">
      {% block content %}{{ content | safe }}{% endblock %}
    </main>

    <nav>{% include "backToTopBtn.njk" %}</nav>

    {# <footer>todo:</footer> #}

    {# todo: find a way to remove these js bits, just for exercise #}
    <script>
      // Ensure out header background occupies both the header and the nav height
      const headerBackground = document.getElementById('header-background');
      const header = document.getElementsByTagName('header')[0];

      function updateHeaderBackgroundSize() {
        const nav = document.getElementsByTagName('nav')[0];
        headerBackground.style.height = `${header.clientHeight + nav.clientHeight}px`;
      }

      new ResizeObserver(updateHeaderBackgroundSize).observe(header);
    </script>
    <script src="{{ '/js/search.js' | url }}" defer></script>
  </body>
</html>
