<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if (title) %}{{ title }} — {% endif %}{{ strings.siteName }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />
  </head>
  <body>
    {% include "google-analytics.njk" %}
    <a class="skip-link button" href="#main">{{ strings.skipToMain }}</a>
    <span id="header-background"></span>
    <nav>
      {% block nav %}{{ nav | safe }}{% endblock %}
    </nav>
    <header>
      {% block header %}{{ header | safe }}{% endblock %}
    </header>
    <main id="main">
      {% block content %}{{ content | safe }}{% endblock %}
    </main>

    <nav>{% include "backToTopBtn.njk" %}</nav>

    {# <footer>todo:</footer> #}

    {# todo: find a way to remove these js bits, just for exercise #}
    <script>
      // Ensure out header background occupies both the header and the nav height
      const headerBackground = document.getElementById('header-background');
      const header = document.getElementsByTagName('header')[0];

      function updateHeaderBackgroundSize() {
        const nav = document.getElementsByTagName('nav')[0];
        headerBackground.style.height = `${header.clientHeight + nav.clientHeight}px`;
      }

      new ResizeObserver(updateHeaderBackgroundSize).observe(header);
    </script>
  </body>
</html>
