<button id="theme-toggle" aria-label="{{ strings.toggleTheme }}" title="{{ strings.toggleThemeTip }}">
  <span class="material-symbols-outlined light-icon">{% include "light_mode.svg" %}</span>
  <span class="material-symbols-outlined dark-icon" style="display: none;">{% include "dark_mode.svg" %}</span>
</button>
