{% extends "base.njk" %}

{% block header %}
<div>
  <h1 class="banner-title">{{title}}</h1>
</div>
{% endblock %}

{% block content %}
<section>
  <h1 class="banner-title">Four ohhh four</h1>
  {{ content | safe }}
</section>
{% endblock %}
