{% extends "base.njk" %}

{% block nav %}
<a href={{ '/' | url }} class="button">
  <!-- grid icon -->
  <svg viewBox="0 0 100 100">
    <path d="M12.5 33.5h20a1 1 0 001-1v-20a1 1 0 00-1-1h-20a1 1 0 00-1 1v20a1 1 0 001 1zm27.5.0h20a1 1 0 001-1v-20a1 1 0 00-1-1H40a1 1 0 00-1 1v20a1 1 0 001 1zm47.5-22h-20a1 1 0 00-1 1v20a1 1 0 001 1h20a1 1 0 001-1v-20a1 1 0 00-1-1zM12.5 61h20a1 1 0 001-1V40a1 1 0 00-1-1h-20a1 1 0 00-1 1v20a1 1 0 001 1zM40 61h20a1 1 0 001-1V40a1 1 0 00-1-1H40a1 1 0 00-1 1v20a1 1 0 001 1zm47.5-22h-20a1 1 0 00-1 1v20a1 1 0 001 1h20a1 1 0 001-1V40a1 1 0 00-1-1zm-75 49.5h20a1 1 0 001-1v-20a1 1 0 00-1-1h-20a1 1 0 00-1 1v20a1 1 0 001 1zm27.5.0h20a1 1 0 001-1v-20a1 1 0 00-1-1H40a1 1 0 00-1 1v20a1 1 0 001 1zm47.5-22h-20a1 1 0 00-1 1v20a1 1 0 001 1h20a1 1 0 001-1v-20a1 1 0 00-1-1z"></path>
  </svg>
  View All
</a>
{% endblock %}

{% block header %}
<div>
  <h1 class="banner-title">{{ code }} {{ name }}</h1>
</div>
<div>
  <svg viewBox="0 0 200 200" id="header-img">
    <path fill="#FF0000" d="M29.6,-42.9C38.4,-46.3,45.3,-38.3,46.2,-29.2C47.1,-20.1,41.9,-10.1,41.3,-0.3C40.7,9.4,44.7,18.8,40.7,22.3C36.6,25.9,24.5,23.6,16.3,21.3C8.2,19,4.1,16.7,-0.8,18.1C-5.7,19.5,-11.5,24.7,-12.1,22.6C-12.6,20.5,-8,11.3,-9.7,6.3C-11.4,1.3,-19.4,0.7,-23.1,-2.1C-26.8,-4.9,-26.2,-9.9,-25.2,-16C-24.2,-22.2,-22.8,-29.6,-18.5,-28.8C-14.2,-28,-7.1,-19.1,1.7,-22C10.5,-24.9,20.9,-39.6,29.6,-42.9Z" transform="translate(100 100)" />
  </svg>
</div>
{% endblock %}

{% block content %}
<section>
  <h2>Overview</h2>
  {{ overview }}
  {% if (standard === false) %}
  <!-- caution/alert triangle icon (from feather icons) -->
  <p class="overview-note">
    <svg viewBox="0 0 24 24" class="inline-svg feather-svg">
      <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
      <line x1="12" y1="9" x2="12" y2="13"></line>
      <line x1="12" y1="17" x2="12.01" y2="17"></line>
    </svg>
    This is a none standard status code.
  </p>
  {% endif %}
  {% if (deprecated) %}
  <!-- bin/trash icon (from feather icons) -->
  <p class="overview-note">
    <svg viewBox="0 0 24 24" class="inline-svg feather-svg">
      <polyline points="3 6 5 6 21 6"></polyline>
      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
      <line x1="10" y1="11" x2="10" y2="17"></line>
      <line x1="14" y1="11" x2="14" y2="17"></line>
    </svg>
    This status code has been deprecated.
  </p>
  {% endif %}
</section>
<section>
  <h2>Takeaways</h2>
  {{ content | safe }}
</section>
<section class="info">
  <h2>Information</h2>
  {{ body | markdown | safe }}
</section>
<section>
  <h2>Further Reading</h2>
  {% useSvgExternalLink %}

  <a href="{{ spec }}" target="_blank">
    <div class="slat">
      <h3>Specification</h3>
      <div>
        <p>{{ title }} | The HTTP Working Group</p>
        {% svgExternalLink %}
      </div>
    </div>
  </a>

  {% for item in more %}
  <a href="{{ item.url }}" target="_blank">
    <div class="slat">
      <h3>{{ item.title }}</h3>
      <div>
        <p>{{ item.from }}</p>
        {% svgExternalLink %}
      </div>
    </div>
  </a>
  {% endfor %}
</section>
<section>
  <h2>Related</h2>
  TODO: the see-also section in the code files, optional
  related code(s): {{ seeAlso }}
</section>
{% endblock %}
