# Settings in the [build] context are global and are applied to all contexts
# unless otherwise overridden by more specific contexts.
[build]
  publish = "build/"
  command = "npm run build"
  functions = "netlify/functions/"

[build.environment]
  NODE_VERSION = "24.12.0"
  SITEMAP_URL = "https://httpstatuses.kenneally.dev/sitemap.xml"

[[redirects]]
  from = "/*"
  to = "/not-found.html"
  status = 404

[[plugins]]
  package = "@netlify/plugin-lighthouse"
