{% extends "base.njk" %}

{% block header %}
  <a class="skip-link button" href="#main">{{ strings.skipToMain }}</a>

{% endblock %}

{% block content %}

{% include "google-analytics.njk" %}

    <style>
      :root {
        --header-background: var(--server-error-colour);
      }
    </style>

  <header id="top">
    <div class="banner container">
      <h1 class="banner-title">{{ title }}</h1>
      <div>
        <span class="material-symbols-outlined">{% include "server_error_bold.svg" %}
      </div>
    </div>
  </header>

<section>
  <h1 class="banner-title">{{ subtitle }}</h1>
  {{ content | safe }}
  <nav>{% include "viewAllBtn.njk" %}</nav>
</section>

{% include "footer.njk" %}

{% endblock %}
