{% extends "base.njk" %}

{% block content %}
<nav>{% include "viewAllBtn.njk" %}</nav>
<span class="about">
  <section>
    <h1 class="banner-title">{{ title }}</h1>
    {{ content | safe }}
  </section>
</span>

<nav>{% include "viewAllBtn.njk" %}</nav>

{% include "footer.njk" %}

{% endblock %}
