{# todo: use a base
{% extends "base.njk" %}
#}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if (title) %}{{ title }} — {% endif %}{{ site.name }}</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" crossorigin rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />
    <style>
      :root {
        {% if (code < 200) %}   --header-background: var(--information-colour);
        {% elif (code < 300) %} --header-background: var(--success-colour);
        {% elif (code < 400) %} --header-background: var(--redirect-colour);
        {% elif (code < 500) %} --header-background: var(--client-error-colour);
        {% else %}              --header-background: var(--server-error-colour);
        {% endif %}
      }
    </style>
  </head>
  <body>

    <header id="top">
      <nav>{% include "viewAllBtn.njk" %}</nav>
      <div class="banner container">
        <h1 class="banner-title">{{ code }} {{ name }}</h1>
        <div>
          {% if (code < 200) %}   <span class="material-symbols-outlined">{% include "info_bold.svg" %}</span>
          {% elif (code < 300) %} <span class="material-symbols-outlined">{% include "success_bold.svg" %}</span>
          {% elif (code < 400) %} <span class="material-symbols-outlined">{% include "redirect_bold.svg" %}</span>
          {% elif (code < 500) %} <span class="material-symbols-outlined">{% include "client_error_bold.svg" %}</span>
          {% else %}              <span class="material-symbols-outlined">{% include "server_error_bold.svg" %}</span>
          {% endif %}
        </div>
      </div>
    </header>

    <main>
      <section>
        <h2>{{ strings.overview }}</h2>
        {{ overview | markdown | safe }}
        {% if (standard === false) %}
        <p class="overview-note container">
          <span class="material-symbols-outlined">{% include "warning.svg" %}</span>
          {{ strings.nonStandardCode }}
        </p>
        {% endif %}
        {% if (experimental) %}
        <p class="overview-note container">
          <span class="material-symbols-outlined">{% include "beaker.svg" %}</span>
          {{ strings.experimentalCode }}
        </p>
        {% endif %}
        {% if (deprecated) %}
        <p class="overview-note container">
          <span class="material-symbols-outlined">{% include "trash.svg" %}</span>
          {{ strings.deprecatedCode }}
        </p>
        {% endif %}
      </section>

      <section class="content">
        {{ content | safe }}
      </section>

      {% if (seeAlso) %}
      <section>
        <h2>{{ strings.related }}</h2>
        TODO: the see-also section in the code files, optional
        related code(s): {{ seeAlso }}
      </section>
      {% endif %}

      <section>
        <h2>{{ strings.furtherReading }}</h2>
        <a href="{{ spec }}" target="_blank">
          <div class="slat">
            <h3>{{ strings.specification}}</h3>
            <div>
              <p>{{ title }}{% if (standard !== false) %} | {{ strings.httpWorkingGroup }}{% endif %}</p>
              <span class="material-symbols-outlined">{% include "open_new_tab.svg" %}</span>
            </div>
          </div>
        </a>

        {% for item in more %}
        <a href="{{ item.url }}" target="_blank">
          <div class="slat">
            <h3>{{ item.title }}</h3>
            <div>
              <p>{{ item.from }}</p>
              <span class="material-symbols-outlined">{% include "open_new_tab.svg" %}</span>
            </div>
          </div>
        </a>
        {% endfor %}
      </section>
    </main>

    <a href="#top">
      <div id="back-to-top">
        <span class="material-symbols-outlined">{% include "up_arrow.svg" %}</span>
      </div>
    </a>

    {# <footer>todo:</footer> #}
    <script>
      // Show/hide the back to top button based on the current scroll point
      const btn = document.getElementById('back-to-top');
      window.onscroll = () => {
        if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
          btn.classList.add('visible');
        } else {
          btn.classList.remove('visible');
        }
      };
    </script>
  </body>
</html>
