{% extends "base.njk" %}

{% block content %}

<section>
  <div class="header">
    <h1 class="banner-title">{{ strings.siteName }}</h1>
    <search>
        <div class="search-input-wrapper">
          <input
            type="search"
            id="search-input"
            class="search-input"
            placeholder="{{ strings.searchInputPlaceholder }}"
            aria-label="{{ strings.searchInputLabel }}"
            autocomplete="off"
          />
          <span class="search-icon">{% include "search.svg" %}</span>
        </div>
        <div id="search-results" class="search-results" aria-live="polite"></div>
    </search>
  </div>

  <p>{{ strings.siteDescription }}</p>
  {{ content | safe }}
</section>

<nav class="main-nav">
  <ul>
    <li><a href="#informational">{{ strings.informational }}</a></li>
    <li><a href="#successful">{{ strings.successful }}</a></li>
    <li><a href="#redirection">{{ strings.redirection }}</a></li>
    <li><a href="#client-error">{{ strings.clientError }}</a></li>
    <li><a href="#server-error">{{ strings.serverError }}</a></li>
  </ul>
</nav>

<h2 id="informational">{{ strings.informational }}</h2>
<div class="card-layout">
  {% for item in collections.informational %}
  <a href={{item.url | url }} class="image-background_container card-layout_item hover-highlight">
    <div class="material-symbols-outlined image-background_image informational">{% include "info_bold.svg" %}</div>
    <div class="image-background_content ellipsis-content">
      <h3>{{ item.data.title }}</h3>
      {{- item.data.overview | markdown | safe -}}
    </div>
  </a>
  {% endfor %}
</div>

<h2 id="successful">{{ strings.successful }}</h2>
<div class="card-layout">
  {% for item in collections.successful %}
  <a href={{item.url | url }} class="image-background_container card-layout_item hover-highlight">
    <div class="material-symbols-outlined image-background_image successful">{% include "success_bold.svg" %}</div>
    <div class="image-background_content ellipsis-content">
      <h3>{{ item.data.title }}</h3>
      {{- item.data.overview | markdown | safe -}}
    </div>
  </a>
  {% endfor %}
</div>

<h2 id="redirection">{{ strings.redirection }}</h2>
<div class="card-layout">
  {% for item in collections.redirection %}
  <a href={{item.url | url }} class="image-background_container card-layout_item hover-highlight">
    <div class="material-symbols-outlined image-background_image redirect">{% include "redirect_bold.svg" %}</div>
    <div class="image-background_content ellipsis-content">
      <h3>{{ item.data.title }}</h3>
      {{- item.data.overview | markdown | safe -}}
    </div>
  </a>
  {% endfor %}
</div>

<h2 id="client-error">{{ strings.clientError }}</h2>
<div class="card-layout">
  {% for item in collections['client error'] %}
  <a href={{item.url | url }} class="image-background_container card-layout_item hover-highlight">
    <div class="material-symbols-outlined image-background_image client-error">{% include "client_error_bold.svg" %}</div>
    <div class="image-background_content ellipsis-content">
      <h3>{{ item.data.title }}</h3>
      {{- item.data.overview | markdown | safe -}}
    </div>
  </a>
  {% endfor %}
</div>

<h2 id="server-error">{{ strings.serverError }}</h2>
<div class="card-layout">
  {% for item in collections['server error'] %}
  <a href={{item.url | url }} class="image-background_container card-layout_item hover-highlight">
    <div class="material-symbols-outlined image-background_image server-error">{% include "server_error_bold.svg" %}</div>
    <div class="image-background_content ellipsis-content">
      <h3>{{ item.data.title }}</h3>
      {{- item.data.overview | markdown | safe -}}
    </div>
  </a>
  {% endfor %}
</div>

{% include "footer.njk" %}

{% endblock %}
